.login{
    height: 380px;
    background: $main-color;
    h2{
        font-size: $font-big;
        font-weight: bold;
    }
    .title{
        text-align: center;
        color: $text-color;
        padding: 20px 0;
        
    }
    .form{
        border-top: 2px solid #ff5e45;
        box-shadow: 3px 3px 3px #cdc8c6;
        width: 300px;
        margin: auto;
        color: $text-color;
        .text{
            margin-left: 10px;
            p{
                text-align: center;
                font-weight: bold;
                padding: 10px 0;
            }
            .mail{
                margin-bottom: 20px;
            }
            .password{
                margin-bottom: 10px;
            }
            a{
                font-size: $font-verysmall;
                color: #fd6750;
                text-decoration: none;
                padding-left: 5px;
            }
            a:hover{
                font-weight: bold;
            }
        }
        .btn{
            margin-left: 10px;
            padding: 30px 0 20px 0;
            .sign,.keyin{
                width: 45%;
                color: #fff;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
            .sign{
                background: #9b9796;
            }
            .sign:hover{
                background: #b4b1b0;
            }
            .keyin{
                background: #f56c23;
            }
            .keyin:hover{
                background: #f58f23;
            }
        }
    }
}