/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 1024px;
  margin: auto auto;
}
@media (max-width: 768px) {
  body {
    width: 768px;
  }
}
@media (max-width: 480px) {
  body {
    width: 480px;
  }
}

.header {
  height: 420px;
  background: url("../img/header_desktop.png") no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .header {
    width: 768px;
    background-position: center;
  }
}
@media (max-width: 480px) {
  .header {
    width: 480px;
    background: url("../img/header_mobile.png") no-repeat;
  }
}
.header .menu {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
}
.header .menu h1 {
  padding: 20px 30px;
}
.header .menu h1 a {
  background: url("../img/logo_w@svg.svg") no-repeat;
  width: 120px;
  height: 24px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.header .menu ul {
  display: flex;
}
.header .menu ul a {
  display: block;
  text-decoration: none;
  padding: 20px;
  margin-right: 20px;
  color: #eee;
  transition: all 0.3s;
}
@media (max-width: 480px) {
  .header .menu ul a {
    padding: 22px;
    font-size: 16px;
  }
}
.header .menu ul a:hover {
  background: #dd4501;
}
.header .slogan {
  background: rgba(0, 0, 0, 0.3);
  max-width: 40%;
  margin: auto auto;
  margin-top: 100px;
}
@media (max-width: 480px) {
  .header .slogan {
    max-width: 70%;
    margin-top: 50px;
  }
}
.header .slogan h2 {
  font-size: 36px;
  padding: 20px 0px;
}
.header .slogan p {
  font-size: 18px;
  padding-bottom: 20px;
}
.header .slogan h2, .header .slogan p {
  color: #eee;
  text-align: center;
}

.footer {
  background: #efe9e7;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media (max-width: 480px) {
  .footer {
    width: 480px;
    display: block;
  }
}
.footer h2 {
  font-weight: bold;
}
.footer .introduce {
  width: 300px;
  padding: 50px 0px 50px 15px;
}
@media (max-width: 480px) {
  .footer .introduce {
    width: 95%;
    padding: 40px 0px 30px 20px;
  }
}
.footer .location {
  padding: 50px 0px 50px 30px;
}
@media (max-width: 480px) {
  .footer .location {
    padding: 30px 0px 30px 25px;
  }
}
.footer .location ul {
  list-style: disc;
}
.footer .introduce, .footer .location {
  color: #3d1101;
}
.footer .introduce p, .footer li {
  font-size: 16px;
}
.footer .link {
  padding: 40px 0px;
}
@media (max-width: 480px) {
  .footer .link {
    padding: 0px;
  }
}
.footer .link .logo {
  float: right;
  padding: 0 20px 10px 0;
}
@media (max-width: 768px) {
  .footer .link .logo {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .footer .link .logo {
    width: 60%;
    float: none;
    padding-left: 180px;
  }
}
.footer .socialMedia {
  padding-left: 80px;
}
@media (max-width: 480px) {
  .footer .socialMedia {
    padding-left: 380px;
  }
}
.footer .socialMedia img {
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
}

.hint {
  background: #efe9e7;
  padding-top: 3%;
}
.hint h4 {
  text-align: center;
  margin-top: 20px;
  color: #3d1101;
}
.hint .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .hint .container {
    display: block;
    border: 0.1px solid #efe9e7;
  }
}
.hint .container .information {
  width: 30%;
  margin: 40px 0px;
}
@media (max-width: 480px) {
  .hint .container .information {
    width: 100%;
  }
}
.hint .container .information h3, .hint .container .information p {
  color: #3d1101;
  font-size: 18px;
}
.hint .container .information img {
  margin-left: 15%;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .hint .container .information img {
    margin-left: 5%;
  }
}
@media (max-width: 480px) {
  .hint .container .information img {
    margin-left: 30%;
  }
}
.hint .container .information h3 {
  text-align: center;
  margin: 15px 0px;
  font-weight: bold;
}
.hint .container .information p {
  padding: 0px 8%;
}

.chef {
  background: #3d1101;
  display: flex;
}
@media (max-width: 480px) {
  .chef {
    display: block;
  }
}
.chef img {
  padding: 0px 4%;
}
@media (max-width: 480px) {
  .chef img {
    padding: 0;
    width: 100%;
  }
}
.chef .information {
  padding-bottom: 7%;
}
.chef .information .title {
  padding: 10% 0px 5px 0px;
}
.chef .information p {
  color: #efe9e7;
  padding-right: 18%;
}
@media (max-width: 768px) {
  .chef .information .text {
    display: none;
  }
}
@media (max-width: 480px) {
  .chef .information p {
    padding: 0 30px;
  }
  .chef .information .title {
    padding: 10% 0px 5px 30px;
  }
  .chef .information .text {
    display: block;
  }
}

.reputation {
  background: #efe9e7;
}
@media (max-width: 480px) {
  .reputation {
    border: 0.1px solid #efe9e7;
  }
}
.reputation h3 {
  text-align: center;
  padding: 50px 0px 35px 0px;
  font-weight: bold;
}
.reputation h3, .reputation h4, .reputation p {
  color: #3d1101;
}
.reputation .block {
  display: flex;
  justify-content: space-around;
  padding: 0 3%;
}
@media (max-width: 480px) {
  .reputation .block {
    display: block;
  }
}
.reputation .block .container {
  display: flex;
  margin-bottom: 50px;
  padding-left: 1%;
}
@media (max-width: 480px) {
  .reputation .block .container {
    margin-bottom: 30px;
  }
}
.reputation .block .container img {
  border-radius: 50%;
}
.reputation .block .container .information {
  padding-left: 4%;
}
.reputation .block .container .information h4 {
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.reputation .block .container .information p {
  font-size: 18px;
}
.reputation .block .container .information .nickname {
  float: right;
  color: #7c5e52;
  font-size: 16px;
}

.booking {
  background: #f6f4f3;
  color: #3d1101;
}
.booking h3 {
  text-align: center;
  padding: 30px 0;
}
.booking .container {
  padding-bottom: 40px;
  display: flex;
}
@media (max-width: 480px) {
  .booking .container {
    display: block;
  }
}
.booking .container .photo {
  padding: 0 15px 0 25px;
}
@media (max-width: 480px) {
  .booking .container .photo img {
    width: 100%;
  }
}
.booking .container .form {
  width: 200%;
}
@media (max-width: 768px) {
  .booking .container .form {
    width: 80%;
    padding-left: 10px;
  }
}
.booking .container .form .text {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.booking .container .form .vegetarianAsk {
  margin-top: 15px;
  margin-right: 50px;
}
.booking .container .form .btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.booking .container .form .btn .cancel, .booking .container .form .btn .send {
  color: #fff;
  border: none;
  border-radius: 10%;
  padding: 2px 15px;
  cursor: pointer;
}
.booking .container .form .btn .cancel {
  background: #a09e9e;
  margin-right: 20px;
}
.booking .container .form .btn .send {
  background: #f56c23;
}
.booking .container .form .btn .send:hover {
  background: #f58f23;
}
.booking .container .form .send {
  max-width: 70px;
}
.login {
  height: 380px;
  background: #efe9e7;
}
.login h2 {
  font-size: 36px;
  font-weight: bold;
}
.login .title {
  text-align: center;
  color: #3d1101;
  padding: 20px 0;
}
.login .form {
  border-top: 2px solid #ff5e45;
  box-shadow: 3px 3px 3px #cdc8c6;
  width: 300px;
  margin: auto;
  color: #3d1101;
}
.login .form .text {
  margin-left: 10px;
}
.login .form .text p {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.login .form .text .mail {
  margin-bottom: 20px;
}
.login .form .text .password {
  margin-bottom: 10px;
}
.login .form .text a {
  font-size: 16px;
  color: #fd6750;
  text-decoration: none;
  padding-left: 5px;
}
.login .form .text a:hover {
  font-weight: bold;
}
.login .form .btn {
  margin-left: 10px;
  padding: 30px 0 20px 0;
}
.login .form .btn .sign, .login .form .btn .keyin {
  width: 45%;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.login .form .btn .sign {
  background: #9b9796;
}
.login .form .btn .sign:hover {
  background: #b4b1b0;
}
.login .form .btn .keyin {
  background: #f56c23;
}
.login .form .btn .keyin:hover {
  background: #f58f23;
}

.cart {
  background: #efe9e7;
  color: #3d1101;
  display: flex;
}
@media (max-width: 768px) {
  .cart {
    display: block;
  }
}
.cart .list, .cart .order {
  padding: 25px 25px 30px 25px;
  width: 25%;
}
@media (max-width: 768px) {
  .cart .list, .cart .order {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .cart .list {
    padding: 25px 25px 0px 25px;
  }
}
.cart .list .listTitle {
  display: flex;
  padding-bottom: 20px;
}
.cart .list .listTitle img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
.cart .list .listTitle p {
  margin: auto 0;
}
.cart .list .listContent p {
  border-bottom: 2px solid #3d1101;
  padding: 8px 5px;
  cursor: pointer;
}
.cart .list .listContent p:hover {
  background: #3d1101;
  color: #fff;
}
.cart .order {
  width: 100%;
}
.cart .order .orderHeader {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
@media (max-width: 768px) {
  .cart .order .orderHeader {
    display: block;
  }
}
.cart .order .orderHeader .searchBar {
  display: flex;
}
.cart .order .orderHeader .searchBar input {
  border: 2px solid #3d1101;
  height: 28px;
  width: 520px;
}
@media (max-width: 768px) {
  .cart .order .orderHeader .searchBar input {
    width: 650px;
  }
}
@media (max-width: 480px) {
  .cart .order .orderHeader .searchBar input {
    width: 400px;
  }
}
.cart .order .orderHeader .searchBar div {
  width: 30px;
  height: 28px;
  background: #3d1101;
}
.cart .order .orderHeader .searchBar img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.cart .order .orderHeader .checkOut {
  display: flex;
}
@media (max-width: 768px) {
  .cart .order .orderHeader .checkOut {
    padding: 20px 0;
    justify-content: flex-end;
    padding-right: 50px;
  }
}
@media (max-width: 480px) {
  .cart .order .orderHeader .checkOut {
    padding-right: 25px;
  }
}
.cart .order .orderHeader .checkOut a {
  margin: auto 0;
  text-decoration: none;
  color: #3d1101;
}
.cart .order .orderHeader .checkOut img {
  width: 28px;
  height: 28px;
}
.cart .order .menu {
  display: flex;
  flex-wrap: wrap;
}
.cart .order .meal {
  width: 30%;
  margin-top: 30px;
  box-shadow: 5px 5px 3px #cdc8c6;
  margin-right: 2.3%;
}
@media (max-width: 768px) {
  .cart .order .meal {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .cart .order .meal {
    width: 90%;
    margin-top: 30px;
  }
}
.cart .order .meal .image {
  position: relative;
  top: 0px;
  display: flex;
}
.cart .order .meal .image .box {
  width: 100%;
  height: 100px;
  position: absolute;
  top: -10px;
  right: -10px;
  overflow: hidden;
}
.cart .order .meal .image .box .ribbon {
  width: 150px;
  background: #00cc99;
  color: #fff;
  padding: 10px;
  text-indent: 40px;
  transform: rotate(45deg);
  position: absolute;
  top: 15px;
  right: -70px;
  z-index: 10;
}
.cart .order .meal .image .heart {
  position: absolute;
  width: 10px;
  height: 10px;
}
.cart .order .meal .image .heart::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 15px;
  height: 29px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
}
.cart .order .meal .image .heart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 20px;
  width: 15px;
  height: 29px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  transform: rotate(45deg);
}
.cart .order .meal .image .heart:hover::after {
  background: #ff6666;
  cursor: pointer;
}
.cart .order .meal .image .heart:hover::before {
  background: #ff6666;
  cursor: pointer;
}
.cart .order .meal .imageShadow::before, .cart .order .meal .imageShadow::after {
  content: "";
  position: absolute;
  display: block;
  border: 5px solid #078f6d;
  z-index: 1;
}
.cart .order .meal .imageShadow::before {
  top: -10px;
  right: 26%;
  transform: translatex(-63%);
}
@media (max-width: 480px) {
  .cart .order .meal .imageShadow::before {
    top: -10px;
    right: 13%;
    transform: translatex(-63%);
  }
}
.cart .order .meal .imageShadow::after {
  top: 75%;
  right: -10px;
  transform: translatey(-63%);
}
@media (max-width: 480px) {
  .cart .order .meal .imageShadow::after {
    top: 40%;
    right: -10px;
    transform: translatey(-63%);
  }
}
.cart .order .meal img {
  width: 100%;
}
.cart .order .meal h4, .cart .order .meal p {
  text-align: center;
}
.cart .order .meal h4 {
  padding: 10px 0;
}
.cart .order .meal .money {
  padding: 20px 0 10px 0;
  font-weight: bold;
  font-style: italic;
}
.cart .order .meal input {
  background: #efe9e7;
  color: #ff5e45;
  border: 2px solid #ff5e45;
  border-radius: 5px;
  width: 90%;
  margin-left: 6%;
  margin-bottom: 10px;
}
.cart .order .meal input:hover {
  background: #ff5e45;
  color: #efe9e7;
  cursor: pointer;
}
.cart .order .meal hr {
  width: 50%;
  border: 1px solid #3d1101;
  background: #3d1101;
}/*# sourceMappingURL=all.css.map */